<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.koalabee.esstoreapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.koalabee.esstore.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.koalabee.esstore.LoginActivity" />
        <activity android:name="com.koalabee.esstore.AdminActivity" />
        <activity android:name="com.koalabee.esstore.SalerActivity" />
        <activity android:name="com.koalabee.esstore.ProductActivity" />
        <activity android:name="com.koalabee.esstore.OnSaleActivity" />
        <activity android:name="com.koalabee.esstore.SalerInfoActivity" />
        <activity android:name="com.koalabee.esstore.BuyerActivity" />
        <activity android:name="com.koalabee.esstore.SaleProductInfoActivity" />
        <activity android:name="com.koalabee.esstore.BuyerProductInfoActivity" />
        <activity android:name="com.koalabee.esstore.BuyerPhoneNumActivity" />
        <activity android:name="com.koalabee.esstore.BuyerGenderActivity" />
        <activity android:name="com.koalabee.esstore.BuyerAddressActivity"></activity>
    </application>

</manifest>